/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(22, 22, 66);
  font-size: large;
  margin-top: 0px;
 text-align: center;
 height:10vh;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.flex-container {
  display: inline;
}
.rowC{
  display:flex; flex-direction:row;
}
.rowD{
  display:flex; flex-direction:row;
} */
.body{
  margin-left: 200px;
}
.nav{

  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #62174f;
  overflow-x: hidden;
  padding-top: 20px;
}
.nav li{
  padding: 6px 6px 6px 6px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.ape{
  color: azure;
  font-size:large;
  padding-left: 50px;
  padding-right: 700px;
}
.body {
  background-image: url(https://img.freepik.com/premium-photo/contact-us-business-icon-black-computer-keyboard-with-glow-dark_117856-2834.jpg?w=1060);
  background-repeat: no-repeat;
  background-size:cover;
  
  
}
.texthome{
  text-align: center ;
  font-size: 38px;
  color: rgb(9, 23, 35);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}
.container{
  font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 150px auto;
	padding: 16px;
	background: #62174f;

}
.container input{
  width: 100%;
	background: #fff;
	margin-bottom: 7%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
  
}
.home-container{
  font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 150px auto;
	padding: 16px;
	background: #555;
  
}
ul.myUL {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  
}